# Node modules
node_modules/
**/node_modules/

# Build outputs
dist/
build/
artifacts/
cache/

# Env files
.env
.env.*

# IDE & system files
.vscode/
.idea/
.DS_Store

# Logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Coverage
coverage/
